@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.page-not-found {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-not-found h1 {
    font: 400 25px Roboto, sans-serif;
    font-weight: bold;
    color: #DC3545;
}

.page-not-found img {
    margin-top: 30px;
    width: 100%;
    height: 250px;
}

.page-not-found h2 {
    margin-top: 40px;
    font-size: 17px;
    color: #DC3545;
    font-weight: bold;
    margin-bottom: 20px;
}

.page-not-found button {
    margin-top: 15px;
}
