@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {    
    background: #E8E8E8;
}

.header {
    display: flex;
    margin-top: 12px;
    border-bottom-width: 5px;
    border-bottom-color: #000;
}

.header a {
    color: #DC3545;
    margin-left: 14px;
}

.header h1 {
    font: 400 17px Roboto, sans-serif;
    color: #000;
    margin-left: 52px;
    margin-top: 2px;
}

.searchBar {
    width: 80%;
    height: 35px;
    background: #F2F2F2;
    margin-left: 10%;
    margin-top: 10px;
}

.searchBar i {
    color: #DC3545;
    margin-left: 10px;
}

.searchBar input {
    border: 0;
    background: #F2F2F2;
}

.searchBar input:active , .searchBar input:focus {
    background: #F2F2F2;
    box-shadow: none;
}

.localizaçãoAtual {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 22px;
    margin-left: 10%;
}

.localizaçãoAtual h2 {
    font: 400 16px Roboto, sans-serif;
}

.localizaçãoAtual p {
    font: 400 12px Roboto, sans-serif;
    color: #828282;
}

.localizaçãoAtual div {
    margin-top: 18px;
    margin-left: 13px;
}

.addressContainer {
    margin-top: 22px;
}

.addressContainer li {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    border: 1px solid #F2F1F1;
    border-radius: 10px;
    margin-right: 44px;
    background: #F2F1F1;
    margin-top: 12px;
}

.addressContainer li h2 {
    font: 400 16px Roboto, sans-serif;
}

.addressContainer li h3, p {
    font: 400 12px Roboto, sans-serif;
    color: #828282;
}

.addressContainer div {
    margin-left: 10px;
    margin-top: 12px;
}

.points {
    margin-bottom: 52px;
    color: #DC3545;
}