.tela-detalhes .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.tela-detalhes .header a {
    color: inherit;
}

.tela-detalhes .header i {
    margin: 0 0 50px 10px;
}

.tela-detalhes .header img {
    width: 30vw;
    height: 16vh;
    border-radius: 8px;
    margin-right: 10px;
}

.tela-detalhes .title {
    font-size: 22px;
    margin-top: 80px;
    margin-left: 10px;
}

.tela-detalhes .list-value {
    margin: 14px 10px 10px 10px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.tela-detalhes li.list-group-item {
    display: grid;
    grid-template-columns: 158px 66px 32px 24px;
}

.tela-detalhes li.list-group-item.active {
    background-color: #ff3300;
    border-color: #ff3300;
    display: flex;
    justify-content: space-between;
}

.tela-detalhes li.list-group-item button {
    width: 14vw;
    height: 4vh;
    display: flex;
    justify-items: center;
    align-items: center;
    opacity: 1.0
}

.tela-detalhes li.list-group-item button:hover {
    opacity: 0.2;
    transition: 1s;
}

.tela-detalhes div .list-group:first-child .list-group-item:last-child {
    display: block;
    color: black;
}