.card{
    margin-top:3vh;
}
.confirmOrder{
    padding-top: 2vh;
}
.confirmOrder .btn{
    margin-top: 6vh;
}
.linhaItem>label{
    margin-left: 8vw;
    margin-right:8vw;
    font-size:2vh;
}
.total{
    margin-bottom: 10vh;
}
.formaDePagamento>label{
    font-size:1.7vh!important;
    margin-bottom: 0vh!important;   
}
.linhaAlterarPag{
    margin-bottom: 0vh!important;
    margin-top:7vh;
}
.alterar{
    font-size: 1.2vh;
}
.formaDeEntrega>label{
    font-size:1.7vh!important;
    margin-bottom: 0vh!important;
}