.navbar-restaurantes{
    display: flex;
    height: 10vh; 
    background-color: #E15500;   
    align-items: center;
}

.containerRestaurants{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgLogo{
    width: 60px;
    height: 60px;
}
.navbar-restaurantes p {
    padding-left: 30px;
    color: #FFF;
    font-size: 30px;
}

